mat-form-field{
    margin: 5px 10px;
    width: 45%;
}
.close-icon{
    float: right;
}
.upload-drag-area.form-valid:hover {
    background: #eaeaea;
}
.upload-drag-area {
    border: 1px solid #d2d0d0;
    width: 100%;
    padding: 5px;
}
.upload-drag-area.form-valid label{
    cursor: pointer;
}
.upload-drag-area.form-invalid, .upload-drag-area.form-invalid input {
    cursor: default !important;
}
/deep/ .adf-upload-button-file-container input{
    width: 100% !important;
}